
.inputWrapper {
  display: flex;
  align-items: center;
  padding: 12px;
  
  background: #fff;
}

.input {
  flex: 1;
  padding: 12px 14px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #1f1f1f;
  color: white;
  font-size: 14px;
}

.input::placeholder {
  color: #888;
}

.sendBtn {
  margin-left: 10px;
  padding: 10px 14px;
  border-radius: 8px;
  border: none;
  background: #2563eb;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
}

.sendBtn:hover {
  background: #1e40af;
}

.sendBtn:active {
  transform: scale(0.95);
}
