.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f0f0f;
}

.box {
  width: 350px;
  padding: 30px;
  background: #1f1f1f;
  border-radius: 10px;
  color: white;
}

.box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.box input {
  width: 94%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: none;
  outline: none;
  background: #2a2a2a;
  color: white;
}

.box button {
  width: 100%;
  padding: 10px;
  background: #2563eb;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.box button:hover {
  background: #1e40af;
}

.link {
  text-align: center;
  margin-top: 12px;
}
